.tmpl-ai-use-case {
	&__banner {
		&.banner-default--display-type-solution {
			background-size: cover;
			.banner-default__text-content--center {
				@include media-min($large) {
					padding-top: 80px;
					padding-bottom: 60px;
					grid-column: 2 / span 10;
				}
				@include media-min(1300px) {
					grid-column: 3 / span 8;
				}
			}
		}
		.code {
			display: flex;
			justify-content: center;
			margin-top: 24px;
			pre {
				border: 1px solid #5d6974;
				background: #000;
				padding-right: 60px;
			}
			code {
				font-weight: 500;
				font-size: 17px;
				background: #000;
			}
			.command-line-prompt {
				display: block;
				float: left;
				font-size: 100%;
				letter-spacing: -1px;
				pointer-events: none;
				text-align: right;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				& > span:before {
					content: "$";
					display: block;
					padding-right: 0.8em;
				}
			}

			div.code-toolbar .toolbar {
				right: 22px;
				top: 0;
				bottom: 0;
				display: flex;
				align-items: center;
			}
			.copy-to-clipboard-button {
				background: url("https://static.pingcap.com/files/2025/09/23200109/copy.svg")
					no-repeat center !important;
				opacity: 1 !important;
			}
		}
	}
	&__feature-parallel-engine {
		.tag {
			padding: 0 20px;
			border-radius: 15.5px;
			background: #87120c;
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			text-align: center;
			color: #fff;
			display: flex;
			align-items: center;
			gap: 6px;
			margin-bottom: 6px;
			.icon {
				display: flex;
				align-items: center;
				svg {
					width: 16px;
					height: 16px;
				}
			}
		}
		.desc {
			margin-bottom: 24px;
		}
		ul {
			list-style: none;
			color: #a2adb9;
			margin-top: 24px;
			b {
				font-weight: 700;
			}
			li {
				margin-left: 0;
				display: flex;
				align-items: baseline;
				gap: 8px;
				.icon {
					font-size: 18px;
					font-weight: 700;
				}
			}
		}
	}
	.sub-nav {
		background-color: #000;
		&__item {
			flex: 1;
		}
		&__link {
			font-size: 20px;
			font-weight: 700;
			line-height: 34px;
			display: block;
			color: #424d57;
			border-bottom: 2px solid #424d57;
			@include media-min($medium) {
				font-size: 26px;
			}
			&.active {
				color: #fff;
				border-bottom: 2px solid #fff;
			}
		}
	}
	.feature {
		.block-tabs__container-desktop {
			@include media-min($large) {
				grid-template-columns: repeat(5, 1fr);
			}
		}
		.block-tabs__desktop-nav {
			grid-column: span 2;
		}
		.block-tabs__nav-button {
			cursor: pointer;
			width: 100%;
			&.active {
				.feature-card {
					background-color: #0d3152;
				}
			}
		}
		.block-tabs__desktop-main {
			padding: 0;
		}
		.accordion {
			margin-left: 0;
			input[type="radio"] {
				display: none;
			}
		}
		.accordion__section-title-text {
			width: 100%;
		}
		.accordion__section {
			border: none;
		}
		.feature-card {
			background: #06111a;
			padding: 24px 26px;
			display: flex;
			align-items: center;
			gap: 20px;
		}

		.feature-card__icon {
			width: 60px;
			height: 60px;
		}

		.feature-card__content {
			flex: 1;
		}

		.feature-card__title {
			font-weight: 700;
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 10px;
			color: #fff;
		}

		.feature-card__desc {
			font-weight: 300;
			font-size: 16px;
			line-height: 22px;
			color: #a2adb9;
		}
		.code-panel {
			padding: 26px;
			border: 1px solid #28333e;
			background-color: #0a0d10;
			margin-top: 10px;
			padding-bottom: 32px;
			@include media-min($large) {
				margin-top: 0;
			}
		}

		.code-header {
			margin-bottom: 24px;
			h3 {
				color: #fff;
				font-weight: 700;
				font-size: 20px;
				line-height: 30px;
				margin-bottom: 6px;
			}
			p {
				font-weight: 300;
				font-size: 16px;
				line-height: 22px;
				color: #a2adb9;
				margin-top: 6px;
			}
		}

		.code-box {
			border: 1px solid #28333e;
			background-color: #000;
			div.code-toolbar .toolbar {
				top: 20px;
				right: 20px;
			}
			.copy-to-clipboard-button {
				background: url("https://static.pingcap.com/files/2025/09/23200109/copy.svg")
					no-repeat center !important;
				opacity: 1 !important;
			}
		}
		pre[class*="language-"] {
			margin: 0;
			padding-left: 48px;
			padding-top: 3px;
			background: #000;
		}
		pre > code[class*="language-"] {
			background: #000;
			font-size: 14px;
		}
		code[class*="language-"] {
			background: transparent;
			color: rgb(185, 194, 202);
			font-size: 14px;
			line-height: 1.5;
		}
		.token {
			&.comment {
				color: rgb(16, 185, 129);
				font-style: italic;
			}
			&.keyword {
				color: rgb(198, 120, 221);
			}
			&.class-name {
				color: rgb(97, 174, 238);
			}
			&.punctuation,
			&.operator {
				color: rgb(185, 194, 202);
			}
			&.string {
				color: rgb(152, 195, 121);
			}
			&.builtin {
				color: rgb(230, 192, 123);
			}
			&.boolean {
				color: rgb(86, 182, 194);
			}
			&.number {
				color: rgb(209, 154, 102);
			}
			&.function {
				color: rgb(230, 192, 123);
			}
		}
		.line-numbers {
			.line-numbers-rows {
				position: absolute;
				pointer-events: none;
				top: 24px;
				font-size: 100%;
				left: 0;
				width: 3em;
				letter-spacing: -1px;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}
		.line-numbers.line-numbers .line-numbers-rows {
			border-right: none;
		}
		.line-numbers-rows > span {
			display: block;
			counter-increment: linenumber;
		}
		.line-numbers-rows > span:before {
			content: counter(linenumber);
			color: #999;
			display: block;
			padding-right: 0.8em;
			text-align: right;
		}
		.line-numbers .line-numbers-rows > span:before {
			color: rgb(185, 194, 202);
			opacity: 0.4;
		}
		.code-actions {
			margin-top: 40px;
			display: flex;
			flex-wrap: wrap;
			gap: 32px;
			.button {
				background-color: #fff;
				color: #000;
				&:hover {
					color: #fff;
				}
			}
			.button-link {
				color: #fff;
			}
		}
		.extra-content {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 32px;
			gap: 16px;
			color: #fff;
			.code {
				margin-top: 0;
			}
			pre {
				padding: 6px;
				padding-right: 60px;
				margin: 0;
			}
		}
	}
	.use-cases {
		.featured-case {
			padding: 32px;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 16px;
			margin-bottom: 30px;
			@include media-min($large) {
				flex-direction: row;
			}
			.company-logo {
				@include media-min($large) {
					width: 20%;
				}
				text-align: center;
			}
			.content {
				@include media-min($large) {
					width: 80%;
				}
			}
			.case-title {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.tags {
					margin-top: 0;
				}
			}
			h4 {
				font-weight: 700;
				font-style: Bold;
				font-size: 24px;
				line-height: 30px;
			}
			.tag {
				border: 1px solid #10487b;
				background-color: #2c80ce;
				font-family: Moderat Mono;
				font-weight: 300;
				font-size: 14px;
				line-height: 22px;
				text-align: center;
				padding: 0 28px;
				color: #fff;
				border-radius: 16px;
			}
			p {
				font-weight: 300;
				font-size: 16px;
				line-height: 22px;
				color: #a2adb9;
				margin-top: 6px;
				margin-top: 10px;
				max-width: 800px;
			}
			.feature {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				margin-top: 28px;
				margin-bottom: 32px;
				&-tag {
					border: 1px solid #cbd1d7;
					font-weight: 300;
					font-size: 14px;
					line-height: 22px;
					background: #10487b;
					padding: 0 8px;
					border-radius: 16px;
				}
			}
		}
		.card {
			border: 1px solid #28333e;
			padding: 0 24px;
			padding-bottom: 40px;
			&__logo {
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				height: 115px;
				svg {
					max-width: 170px;
				}
				.tag {
					border: 1px solid #b9c2ca;
					background: #28333e;
					border-radius: 16px;
					font-weight: 300;
					font-size: 14px;
					line-height: 22px;
					text-align: center;
					color: #a2adb9;
					padding: 0 20px;
				}
			}
			&__content {
				margin-bottom: 48px;
				p {
					font-weight: 300;
					font-size: 16px;
					line-height: 22px;
					color: #a2adb9;
					margin-top: 8px;
				}
			}
			&__title {
				font-weight: 700;
				font-style: Bold;
				font-size: 24px;
				line-height: 30px;
				color: #fff;
			}
		}
	}
	.labs {
		.card {
			border: 1px solid #424d57;

			&__image {
				// display: flex;
				// align-items: center;
				// justify-content: space-between;
				// height: 115px;
			}
			&__content {
				padding: 32px;
				padding-bottom: 40px;
				p {
					font-weight: 300;
					font-size: 16px;
					line-height: 22px;
					color: #fff;
					margin: 18px 0;
				}
			}
			&__head {
				display: flex;
				align-items: center;
				justify-content: space-between;
				color: #b9c2ca;
				font-size: 16px;
				i {
					margin-right: 6px;
				}
				.status {
					&.beginner {
						color: #1aa8a8;
					}
					&.advanced {
						color: #f35048;
					}
					&.intermediate {
						color: #9e4ec4;
					}
				}
			}
			&__title {
				font-weight: 700;
				font-style: Bold;
				font-size: 24px;
				line-height: 30px;
				color: #fff;
				padding: 18px 0;
				border-bottom: 1px solid #424d57;
			}
			.tags {
				margin-bottom: 30px;
				align-items: center;
			}
			.tag {
				border: 1px solid #10487b;
				background: #000;
				border-radius: 16px;
				font-weight: 300;
				font-size: 14px;
				line-height: 22px;
				text-align: center;
				color: #a2adb9;
				padding: 0 20px;
			}
		}
	}

	.community {
		.card-text-content {
			padding: 32px 24px;
			&__label {
				color: #9e4ec4;
			}
			.title-mono {
				color: #fff;
			}
			.languages {
				display: flex;
				flex-wrap: wrap;
				gap: 1.6rem;
				margin-top: 20px;
			}
			.language {
				color: #1aa8a8;
				font-family: var(--font-moderat-mono);
				&::before {
					content: "";
					width: 6px;
					height: 6px;
					border-radius: 50%;
					background-color: #1aa8a8;
					margin-right: 6px;
					display: inline-block;
				}
			}
			.tags {
				margin-top: 30px;
				.tag {
					background-color: #000;
					border: 1px solid #10487b;
					border-radius: 16px;
					color: #2c80ce;
					padding: 0 12px;
				}
			}
			.button-group {
				margin-top: 42px;
				justify-content: flex-start;
			}
		}
		.card-container {
			margin: 6.4rem 0;
			display: flex;
			gap: 3.2rem 1.6rem;
			flex-wrap: wrap;
			justify-content: center;
		}
		.card {
			text-align: center;
			flex: 1;
			&-image-container {
				width: 93px;
				height: 93px;
				margin: auto;
			}
			&-title {
				font-size: 72px;
				font-weight: 700;
				line-height: 76px;
				color: #fff;
				margin: 4rem 0 2rem;
			}
			p {
				font-size: 22px;
				font-weight: 300;
				line-height: 28px;
				text-align: center;
				color: #a2adb9;
			}
		}
		.button-group {
			margin-top: 80px;
			justify-content: center;
		}
		.button .icon-github {
			background: url("https://static.pingcap.com/files/2025/09/24032324/github.png")
				no-repeat center/contain;
		}
	}
}
