.tidb-user-day {
  &__entry {
    .grid {
      align-items: center;
    }
  }
}
.p-timetable-item_bottom {
  @include media-min($medium) {
    display: flex;
    gap: 3.2rem;
    p{
      flex: 1;
      margin-top: 0;
    }
  }
}
