.play-video-overlay {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 12px 24px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	&__play-icon {
		transition: transform var(--default-transition-params);

		.play-video-overlay:hover & {
			transform: scale(1.2);
		}
	}
}
