.banner {
	z-index: var(--z-root);
	position: relative;

	.wysiwyg {
		margin-top: 3.6rem;
	}

	--form-select-arrow-img: url("#{$theme-url-base}/media/svg/general/chevron-down-blue.svg");

	&--padding-bottom {
		padding-bottom: 6rem;
		@include media-min($medium) {
			padding-bottom: 3rem;
		}
		@include media-min($large) {
			padding-bottom: 6rem;
		}
	}

	&.campaign {
		.banner-default__text-content {
			padding-top: 12rem;
		}
		@include media-min($medium) {
			background-position: center center;
			.banner-default__text-content {
				padding-top: 6rem;
			}
		}
	}
	&.campaign-maintenance {
		h1 {
			font-size: 34px;
			padding-bottom: 6rem;
			@include media-min($medium) {
				font-size: clamp(36px, 3.65vw, 52px);
				padding-bottom: 0;
			}
		}
	}
	&.campaign-architecture{
		h1 {
			font-size: 27px;
			@include media-min($medium) {
				font-size: clamp(36px, 3.65vw, 52px);
			}
		}
	}
}
