.banner-author {
	padding-top: 5rem;

	&__text-content {
		position: relative;
		padding-bottom: 14rem;

		.banner-author--has-bio & {
			padding-bottom: 8rem;
		}
	}

	&__image {
		display: block;
		position: absolute;
		left: calc(var(--grid-column-gutter) * -1);
		width: 7rem;
		height: 7rem;
		transform: translateX(-100%);
		background-color: var(--color-white);
		border-radius: 50%;
	}

	&__name {
		margin-top: 0;
	}
}
