.block-compare-features {
	&__container {
		display: grid;
		grid-template-columns: repeat(var(--grid-num-cols, 1), minmax(0, 1fr));
		gap: var(--grid-column-gutter);
		@include media-min($medium) {
			--grid-num-cols: 12;
		}
	}
	&__content {
		@include media-min($medium) {
			grid-column: 2 / span 10;
		}
	}
	&__head {
		display: flex;
		align-items: flex-end;
		> div {
			flex: 1;
			text-align: center;
		}
		@include media-min($medium) {
			width: 60%;
		}
		&-container {
			position: sticky;
			top: calc(var(--header-height) + var(--admin-bar-height, 0px));
			background: #fff;
			z-index: 1;
			display: flex;
			padding: 1rem 0;
			@include media-min($medium) {
				justify-content: flex-end;
			}
		}
		&-title {
			font-size: 2rem;
			color: var(--color-blue-dark);
			font-weight: 600;
			padding-bottom: 0.4rem;
			border-bottom: 2px solid var(--color-blue-dark);
			margin-bottom: 1.2rem;
		}
		&-cloud {
			flex: 2!important;
			&-wrapper {
				display: flex;
				> div {
					flex: 1;
				}
			}
		}
	}
	&__table {
		&-head {
			background-color: #3d3fea;
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			color: #fff;
			padding: 0.8rem 1rem;
		}
		&-tr {
			padding: 0 1rem;
			font-weight: 400;
			font-size: 18px;
			color: #20222b;
			height: 10rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			@include media-min($medium) {
				flex-direction: row;
				height: 5rem;
			}
			&:nth-child(odd) {
				background-color: #f4f4f5;
			}
		}
		&-title {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 5rem;
			width: 100%;
			@include media-min($medium) {
				justify-content: flex-start;
				width: 40%;
			}
		}
		&-th {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 5rem;
			flex: 1;

			&-container {
				display: flex;
				flex: 1;
				width: 100%;
				@include media-min($medium) {
					width: 60%;
				}
			}
		}
	}
}
