.button,
.wysiwyg button,
input[type="submit"],
.mce-button-primary,
%button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0.6rem 1.6rem;
	min-width: 15rem;
	height: 4.8rem;
	min-height: var(--default-input-min-height);
	border-radius: var(--button-border-radius);

	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: var(--font-weight-bold);
	letter-spacing: 0.5px;
	text-align: center;
	text-decoration: none;

	color: var(--button-primary-normal-text-color);
	background: linear-gradient(94.24deg, #5ccae2 0%, #0ca6f2 52.08%, #4374c4 100%);

	appearance: none;
	outline: none;
	cursor: pointer;
	transition: all var(--default-transition-speed) ease-in-out;

	&:hover {
		opacity: .9;
	}
	
	&:active,
	&.active {
		color: var(--button-primary-hover-text-color);
		background-image: linear-gradient(
			180deg,
			var(--button-primary-hover-bg-color) 0%,
			var(--button-primary-hover-bg-color) 100%
		);
		border-color: var(--button-primary-hover-border-color);
		text-decoration: none;
	}

	&:disabled,
	&.disabled {
		pointer-events: none;
		cursor: not-allowed;
		color: var(--button-primary-disabled-text-color);
		background-color: var(--button-primary-disabled-bg-color);
		border-color: var(--button-primary-disabled-border-color);
	}

	&.button--secondary {
		padding: 0 1.3rem 0 0;
		height: unset;
		min-height: 0;
		min-width: auto;
		font-weight: 500;

		color: var(--button-secondary-normal-text-color);
		background-color: transparent;
		background-image: none;
		border: 0;
		text-decoration: underline;

		&::before {
			content: "";
			width: 12px;
			height: 1px;
			background-color: var(--button-secondary-normal-text-color);
			display: block;
			position: absolute;
			right: -6px;
			top: 0;
			bottom: 0;
			margin: auto;
			transition: all var(--default-transition-params);
		}

		&::after {
			content: "";
			font-size: 1.6rem;
			position: absolute;
			right: -5px;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 8px;
			height: 8px;
			display: block;
			border: 1px solid var(--button-secondary-normal-text-color);
			border-left-color: transparent;
			border-bottom-color: transparent;
			transform: rotate(45deg);
			color: var(--button-secondary-normal-text-color);
			pointer-events: none;
			transition: right var(--default-transition-params);
		}

		&:hover {
			color: var(--button-secondary-hover-text-color);
			background-color: transparent;
			border-color: transparent;

			&::before {
				background-color: var(--button-secondary-hover-text-color);
				color: var(--button-secondary-hover-text-color);
				width: 20px;
				right: -14px;
			}
			&::after {
				border: 1px solid var(--button-secondary-hover-text-color);
				border-left-color: transparent;
				border-bottom-color: transparent;
				color: var(--button-secondary-hover-text-color);
				right: -13px;
			}
		}

		&:disabled,
		&.disabled {
			color: var(--button-secondary-disabled-text-color);
			background-color: transparent;
			border-color: transparent;

			&::before,
			&::after {
				color: var(--button-secondary-disabled-text-color);
			}
		}
	}

	&.button-white {
		color: var(--color-blue-dark);
		background-color: var(--color-white);
		background-image: none;
		border: 1px solid var(--color-blue);

		&:hover {
			opacity: .9;
		}
	}

	&.button-blue-outline {
		color: var(--button-primary-normal-text-color);
		background-color: transparent;
		background-image: none;
		border: 1px solid var(--button-primary-normal-border-color);

		&:hover {
			color: var(--button-primary-normal-text-color);
			background: linear-gradient(94.24deg, #5ccae2 0%, #0ca6f2 52.08%, #4374c4 100%);
		}
	}
}

.button {
	&--slim {
		min-width: 125px;
		min-height: 0;
		padding: 0.4rem 1.5rem;
	}

	&--large {
		min-height: 6rem;
		min-width: 29rem;
		border-radius: 3rem;
		font-size: 2rem;
	}

	&-group {
		display: flex;
		gap: 3.2rem;
		&.center {
			justify-content: center;
		}
	}

	.icon-github {
		background: url("https://static.pingcap.com/files/2024/04/25211345/github.png") no-repeat
			center/contain;
		height: 2.4rem;
		width: 2.4rem;
		display: inline-block;
		vertical-align: middle;
		margin-right: 6px;
	}
}
