.tag {
	font: normal normal var(--font-weight-regular) 1.4rem / 1.72 var(--font-primary);
	color: var(--color-gray-light);
	background-color: var(--color-off-white);
	border-radius: 4rem;
	padding: 0.4rem 1.6rem;
	white-space: normal;
}

.tags{
	display: flex;
	flex-wrap: wrap;
	gap: .8rem;
}
