.tag {
	font: normal normal var(--font-weight-regular) 1.4rem / 1.72 var(--font-primary);
	color: #000;
	background-color: #E5E8EB;
	padding: 0.4rem 1.6rem;
	white-space: normal;
}

.tags{
	display: flex;
	flex-wrap: wrap;
	gap: .8rem;
}
