@font-face {
	font-family: "iconfont"; /* Project id 4677496 */
	src: local(""), url("#{$fonts-url-base}/fonts/iconfont/iconfont.woff?t=1725963639600") format("woff"),
		url("#{$fonts-url-base}/fonts/iconfont/iconfont.woff2?t=1725963639600") format("woff2"),
		url("#{$fonts-url-base}/fonts/iconfont/iconfont.ttf?t=1725963639600") format("truetype");
}

[class^="icon-"],
[class*=" icon-"] {
	display: inline-flex;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconfont {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
  content: "\e64a";
}

.icon-bank-new:before {
  content: "\e643";
}

.icon-chart-bar:before {
  content: "\e644";
}

.icon-buildings:before {
  content: "\e645";
}

.icon-infinity:before {
  content: "\e646";
}

.icon-handshake:before {
  content: "\e647";
}

.icon-chart-line-up:before {
  content: "\e648";
}

.icon-briefcase:before {
  content: "\e649";
}

.icon-at:before {
  content: "\e642";
}

.icon-video:before {
  content: "\e627";
}

.icon-comment:before {
  content: "\e631";
}

.icon-education:before {
  content: "\e637";
}

.icon-calender:before {
  content: "\e63f";
}

.icon-book:before {
  content: "\e641";
}

.icon-award:before {
  content: "\e63a";
}

.icon-desktop:before {
  content: "\e640";
}

.icon-cloud:before {
  content: "\e628";
}

.icon-gaming-device:before {
  content: "\e629";
}

.icon-close:before {
  content: "\e62a";
}

.icon-user:before {
  content: "\e62b";
}

.icon-refresh:before {
  content: "\e62c";
}

.icon-document:before {
  content: "\e62d";
}

.icon-bookmark:before {
  content: "\e62e";
}

.icon-arrow-right:before {
  content: "\e62f";
}

.icon-stack:before {
  content: "\e630";
}

.icon-gear:before {
  content: "\e632";
}

.icon-a-:before {
  content: "\e633";
}

.icon-bank:before {
  content: "\e634";
}

.icon-code:before {
  content: "\e635";
}

.icon-arrow-up-right:before {
  content: "\e636";
}

.icon-menu:before {
  content: "\e638";
}

.icon-wallet:before {
  content: "\e639";
}

.icon-mobile:before {
  content: "\e63b";
}

.icon-presentation:before {
  content: "\e63c";
}

.icon-bag:before {
  content: "\e63d";
}

.icon-arrow-left:before {
  content: "\e63e";
}

.icon-eye:before {
  content: "\e61a";
}

.icon-sliders:before {
  content: "\e61b";
}

.icon-exchange:before {
  content: "\e61c";
}

.icon-chevron-down:before {
  content: "\e61d";
}

.icon-star:before {
  content: "\e61e";
}

.icon-exchange1:before {
  content: "\e619";
}

.icon-eye1:before {
  content: "\e61f";
}

.icon-chevron-down1:before {
  content: "\e620";
}

.icon-sliders1:before {
  content: "\e621";
}

.icon-star1:before {
  content: "\e622";
}

.icon-sliders2:before {
  content: "\e618";
}

.icon-eye2:before {
  content: "\e623";
}

.icon-exchange2:before {
  content: "\e624";
}

.icon-star2:before {
  content: "\e625";
}

.icon-chevron-down2:before {
  content: "\e626";
}

.icon-globe:before {
  content: "\e617";
}
  