.wysiwyg {
	h6 {
		font: normal normal var(--font-weight-regular) 1.6rem / 1.5 var(--font-primary);
		color: var(--color-gray);
		text-align: center;
		&::before {
			content: "";
			width: 1px;
			height: 1.6rem;
			background-color: var(--color-blue);
			display: inline-block;
			margin-right: 2rem;
			vertical-align: middle;
			margin-top: -2px;
		}
	}
	p,
	ul {
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
	}
	p {
		.button + .button {
			margin-left: 1rem;
		}

		.button + .button--secondary {
			margin-left: 2rem;
		}

		.button--secondary + .button--secondary {
			margin-left: 3rem;
		}
	}

	table {
		border: 1px solid var(--table-border-color);
		font-weight: 300;
	}

	ul,
	ol {
		padding-left: 0;
		color: var(--body-font-color);
		font-weight: 300;

		li {
			position: relative;
			margin: 0 0 0.8rem 1.5rem;

			ul,
			ol {
				margin-top: 0.8rem;
			}

			li {
				margin-left: 2.5rem;
			}

			img {
				margin: 1rem 0;
			}
		}
	}

	ul.check {
		list-style-image: url("#{$theme-url-base}/media/images/check-blue.svg");
		li {
			padding-left: 4px;
		}
	}

	ul.list-style-image {
		list-style-image: url("#{$theme-url-base}/media/images/list-image.svg");
		margin-left: 0.4rem;
		margin-top: 2rem;
		li {
			padding-left: 0.8rem;
			&::before {
				display: none;
			}
		}
	}

	&--post-content {
		a:not(.button):not(.ignore-link-styles) {
			word-wrap: break-word;
			color: #509dea;
			text-decoration: none;
			line-height: 2.4rem;
			transition: all var(--default-transition-params);

			&:hover,
			&:active {
				color: #2c80ce;
				text-decoration-color: #2c80ce;
				text-decoration: underline;
			}
		}
		h2 {
			font-size: 22px;
			@include media-min($medium) {
				font-size: clamp(30px, 3.25vw, 32px);
			}
		}
		h3 {
			font-size: 20px;
			@include media-min($medium) {
				font-size: clamp(24px, 3vw, 28px);
			}
		}
		* + h2,
		* + h3,
		* + h4 {
			margin: 24px 0;
		}
		img {
			width: 100%;
			margin: 24px 0;
			cursor: zoom-in;

			&:first-child {
				margin: 0;
			}
		}

		p {
			margin: 24px 0;
		}

		ul,
		ol {
			margin-top: 24px;
			margin-bottom: 24px;
			margin-left: 2rem;
			line-height: var(--body-font-line-height);
		}

		table {
			td {
				font-weight: 300;
			}
			td[rowspan] {
				border-right: 1px solid #000;
			}
		}

		.code-toolbar {
			margin: 24px 0;
		}

		.caption-center {
			margin-bottom: 3rem;
			font-size: 1.4rem;
			text-align: center;
		}

		.trackable-btns {
			display: flex;
			gap: 1rem;
			margin-top: 2.5rem;
			margin-bottom: 4rem;

			a,
			a:hover,
			button {
				text-decoration: none;
			}
		}

		blockquote {
			border-left: 4px solid #000;
			box-shadow: inset 0 0 0 0 #ddd;
			margin: 0;
			padding-left: 1.6rem;
			p {
				line-height: 1.8;
				font-size: 1.6rem;
				font-weight: normal;
				font-style: normal;
				&::before,
				&::after {
					display: none;
					left: unset;
				}
			}
			& + blockquote {
				margin-top: 1.6rem;
			}
		}
	}

	code {
		background: var(--post-content-code-bg-color);
		color: var(--post-content-code-text-color);
		white-space: pre-wrap !important;
	}

	.flex {
		display: flex;
		flex-direction: column;
		gap: var(--grid-column-gutter);
		@include media-min($medium) {
			flex-direction: row;
		}
		> div {
			flex: 1;
		}
		&.flex-row {
			flex-direction: row;
		}
		&.flex-wrap {
			flex-wrap: wrap;
		}
		&.item-center {
			align-items: center;
		}
		&.gap-4 {
			gap: 1.6rem;
		}
		.flex-auto {
			flex: 0 1 auto;
		}
		&.justify-center {
			justify-content: center;
		}
		&.justify-between {
			justify-content: space-between;
		}
	}
}
