.menu-dropdown {
	&__inner {
		display: flex;
		padding: 2rem;
		.menu-dropdown__item + .menu-dropdown__item {
			border-left: 1px solid rgba(83, 85, 94, 0.5);
		}

		.menu-dropdown__feature + .menu-dropdown__links-column {
			padding-left: 48px;
		}

		.menu-dropdown__links-column + .menu-dropdown__links-column {
			padding-left: 48px;
			margin-left: 48px;
		}
	}

	&__inner-reserve {
		display: flex;
		flex-direction: row-reverse;
		padding: 2rem;

		.menu-dropdown__item + .menu-dropdown__item {
			border-right: 1px solid #424d57;
		}

		.menu-dropdown__feature-column {
			padding-left: 4.8rem;
			padding-right: 0;
		}

		.menu-dropdown__feature + .menu-dropdown__links-column {
			padding-right: 48px;
		}

		.menu-dropdown__links-column + .menu-dropdown__links-column {
			padding-right: 48px;
			margin-right: 48px;
		}
	}

	&__item-ai {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		padding-bottom: 24px;
		a {
			display: flex;
			gap: 1.2rem;
			align-items: center;
			.icon-ai {
				width: 2rem;
				height: 2rem;
			}
		}
	}

	&__item-pricing {
		border-top: 1px solid #424d57;
		padding-top: 1.6rem;
		display: flex;
		.button--secondary {
			text-decoration: none;
			font-size: 1.6rem;
			&:hover {
				color: #fff;
				&::before {
					background-color: #fff;
				}
				&::after {
					border: 1px solid #fff;
					border-left-color: transparent;
					border-bottom-color: transparent;
				}
			}
		}
	}

	&__feature {
		&-column {
			min-width: 360px;
			padding-right: 48px;
			&-title-container {
				display: flex;
				align-items: center;
				color: var(--color-white);
				font-size: 1.6rem;
				font-weight: var(--font-weight-medium);
			}
			a {
				color: #fff;
				font-size: 1.6rem;
				line-height: 2.2rem;
				text-decoration: none;
				&:hover {
					color: #a2adb9;
				}
			}
			&-image {
				width: 20px;
				height: 20px;
				margin-right: 10px;
			}
			&-content {
				margin-top: 16px;
				p {
					font-size: 1.5rem;
					font-weight: 300;
					color: #a2adb9;
				}
			}
			.logo-link {
				display: flex;
				align-items: center;
			}
			&:not(:first-child) {
				margin-top: 3.2rem;
			}
			.button--secondary {
				text-decoration: none;
				&:hover {
					color: #fff;
					&::before {
						background-color: #fff;
					}
					&::after {
						border: 1px solid #fff;
						border-left-color: transparent;
						border-bottom-color: transparent;
					}
				}
			}
		}
	}

	&__links-column {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;

		a {
			display: flex;
			align-items: center;
			font-size: 1.6rem;
			font-weight: 300;
			color: #a2adb9;
			text-decoration: none;
			white-space: noWrap;
			transition: color var(--default-transition-params);

			&:hover,
			&:active {
				color: #424d57;
			}
		}
	}

	&__links-column-icon {
		margin-right: 1.2rem;
		font-size: 1.8rem;
	}

	&__links-column-label {
		font-size: 1.6rem;
		color: var(--color-white);
		white-space: noWrap;
	}

	.button--secondary {
		--button-secondary-hover-text-color: var(--color-blue);
		height: unset;
	}
}
