.site-footer {
	padding-bottom: 6.4rem;

	a {
		color: var(--color-white);
		text-decoration: none;
		font-weight: 300;
	}

	&__inner {
		padding-top: 6rem;
	}

	&__row-top {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		@include media-min($medium){
			grid-template-columns: repeat(4, 1fr);
		}
		@include media-min($large) {
			grid-template-columns: repeat(12, 1fr);
		}
		gap: 4.8rem 1.6rem;
	}

	&__row-bottom {
		padding-top: 6rem;
	}

	&__logo-social-container {
		@include media-min($large) {
			grid-column: span 2;
		}
	}

	&__col-links {
		.site-footer__language-links {
			display: none;
			@include media-min($medium) {
				display: block;
			}
		}

		&:nth-of-type(5) {
			margin-top: 6rem;
			grid-column: 1 / span 2;
			@include media-min(800px) {
				grid-column: span 8;
				margin-top: 0;
			}
			.site-footer__links-group {
				align-items: center;
				@include media-min($medium) {
					align-items: flex-start;
				}
			}
			.block-cta {
				width: 100%;
			}
			.block-cta__subscribe-form {
				justify-content: center;
				align-items: center;
				@include media-min($medium) {
					justify-content: flex-start;
				}
			}
			input {
				background-color: transparent;
				border-radius: unset;
				border-color: #5d6974;
				height: 56px;
				max-width: 360px;
			}
			p {
				text-align: center;
				font-size: 16px;
				font-weight: 300;
				color: #fff;
				@include media-min($medium) {
					text-align: left;
				}
			}
		}

		@include media-min($large) {
			&:nth-of-type(1) {
				grid-column: 1 / span 2;
			}

			&:nth-of-type(2) {
				grid-column: 3 / span 2;
			}

			&:nth-of-type(3) {
				grid-column: 5 / span 2;
			}

			&:nth-of-type(4) {
				grid-column: 7 / span 2;
			}

			&:nth-of-type(5) {
				grid-column: 9 / span 4;
				padding-right: 3.2rem;

				p {
					text-align: left;
				}
			}
		}
	}

	&__logo {
		max-height: 32px;
	}

	&__language-links {
		position: relative;
		margin-top: 8rem;
		margin-bottom: 3.2rem;
		cursor: pointer;

		@include media-min($medium) {
			display: none;
		}
		i {
			color: #fff;
			font-size: 2rem;
			padding-right: 0.4rem;
		}
		a {
			font-size: 14px;
			+ a {
				margin-top: 1rem;
			}
			&:hover {
				color: #a2adb9;
			}
		}
		&:hover {
			.site-footer__language-options {
				opacity: 1;
			}
		}
	}

	&__language-select {
		color: #fff;
		display: flex;
		align-items: center;
		gap: 0.8rem;
		padding-bottom: 1rem;
	}

	&__language-options {
		position: absolute;
		border: 1px solid #5d6974;
		background-color: #000;
		color: #fff;
		display: flex;
		flex-direction: column;
		width: 10rem;
		padding: 1rem 1.6rem;
		opacity: 0;
	}

	&__social-group {
		margin-top: 3.2rem;
		display: flex;
		flex-wrap: wrap;
		gap: 1.6rem;
		@include media-min($medium) {
			margin-top: 4.8rem;
		}
	}

	&__social-icon {
		width: 100%;
		height: 100%;
		max-width: 26px;
		max-height: 25px;
	}

	&__links-group {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;

		& + & {
			margin-top: 2rem;
		}
	}

	&__links-group-title {
		font-size: 1.5rem;
		line-height: 21px;
		color: #a2adb9;
		font-family: var(--font-moderat-mono);
		margin-bottom: 1.6rem;
	}

	&__links-group-link {
		font-size: 1.6rem;
		font-weight: 300;
		transition: color var(--default-transition-params);
		display: flex;
		align-items: center;
		gap: 1rem;

		&:hover {
			color: #a2adb9;
		}
	}

	&__legal {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--color-footer-legal);
		align-items: center;

		@include media-min($medium) {
			flex-direction: row;
			gap: 0;
		}

		a {
			transition: color var(--default-transition-params);
			color: var(--color-footer-legal);

			&:hover {
				color: var(--color-white);

				&::before {
					color: var(--color-footer-legal);
				}
			}
		}
	}

	&__legal-top-row,
	&__legal-bottom-row {
		display: flex;
		align-items: center;
	}

	&__design {
		@include media-min($medium) {
			position: relative;

			&::before {
				content: "|";
				padding-left: 0.8rem;
				padding-right: 0.8rem;
			}
		}
	}

	&__menu-legal {
		font-size: 1.2rem;
		color: var(--color-footer-legal);
		@include media-min($medium) {
			position: relative;
			&::before {
				content: "/";
				padding-left: 1.2rem;
				padding-right: 1.2rem;
			}
		}
	}

	&__menu-legal a {
		position: relative;
		color: #a2adb9;
		font-size: 1.4rem;
		font-family: var(--font-moderat-mono);

		&::before {
			content: "/";
			padding-left: 1.2rem;
			padding-right: 1.2rem;
			color: #a2adb9;
		}

		&:first-of-type::before {
			display: none;
		}
	}

	&__copyright {
		font-family: var(--font-moderat-mono);
		font-size: 1.4rem;
		font-weight: 400;
		color: #a2adb9;
		line-height: 20px;
	}

	&__beian {
		color: var(--color-footer-legal);
		a {
			font-size: 1.2rem;
		}
		&-icon {
			width: 16px;
			height: 16px;
			display: inline-block;
			background: url("#{$theme-url-base}/media/images/beian.png") center no-repeat;
			background-size: contain;
			vertical-align: middle;
		}
		&-bar {
			&::before {
				content: "|";
				padding: 0 0.5rem;
				color: var(--color-footer-legal);
			}
		}
	}
}
