.gartner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 20px;
	height: 100%;
	background-color: #3c174c;
	.widget-container {
		text-align: center;
		@include media-min($large) {
			min-width: 410px;
		}
		[id^="gartner-pi-widget"][data-size="line"] {
			width: 100%;
			max-width: 425px;
		}
	}
}
