.card-case-study {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-decoration: none;
	padding: 0.8rem 3.2rem 3.2rem;
	border: 1px solid var(--card-border-color);
	transition: all var(--default-transition-params);

	&:hover {
		box-shadow: var(--card-box-shadow);
		transform:var(--card-transform);
	}

	&__image-container {
		position: relative;
		width: 100%;
		height: 120px;

		.card-case-study--featured & {
			height: 175px;
		}
	}

	&__image {
		@include image-cover-entire-container("contain");

		.card-case-study--featured & {
			@include image-cover-entire-container("contain", "center left");
		}
	}

	&__customer-name {
		margin-top: 0;
	}

	&__title {
		flex-grow: 1;
		margin-top: 1rem;
		font-size: 1.6rem;
		font-weight: 300;
	}

	&__title-featured {
		margin-top: 0;
	}

	&__button {
		margin-top: 1rem;

		.card-case-study--featured & {
			margin-top: 3rem;
		}
	}

	&__stats-container {
		display: flex;
		flex-wrap: wrap;
		@include media-min($xlarge) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 3rem;
		}
		.basic-stat {
			margin: 1rem 0;
			@include media-min($xlarge) {
				margin: 0;
			}
		}
	}

	.testimonial,
	&__stats-container {
		margin-top: 3rem;
	}
}
