.card-text-content {
	padding: 3.2rem;
	border-radius: var(--card-border-radius);
	border: 1px solid transparent;
	transition: all var(--default-transition-params);

	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	background-image: var(--card-background-image);

	&:hover {
		box-shadow: var(--card-box-shadow);
		transform: var(--card-transform);
	}

	&__label {
		margin-bottom: 1.6rem;
		color: var(--card-label-color);
	}

	&__title-container {
		display: flex;
		align-items: center;
		gap: 2rem;
	}

	h5 {
		color: var(--card-title-color);
	}

	&__icon {
		width: 40px;
		height: 40px;
		color: currentColor;
	}

	&__content {
		margin-top: 1rem;
	}

	&__link {
		margin-top: 1rem;
	}
}
