.card-text-content {
	padding: 3.2rem;
	border: 1px solid var(--card-border-color);
	background-color: var(--card-background-color);
	transition: all var(--default-transition-params);
	&.hide-content {
		height: max-content;
		padding-bottom: 16px;
		cursor: pointer;
		.card-text-content__icon {
			width: auto;
			height: auto;
		}
		.card-text-content__content {
			height: 0;
			overflow: hidden;
			transition: all var(--default-transition-params);
		}

		&:hover {
			.card-text-content__content {
				padding-bottom: 16px;
				height: max-content;
			}
		}
	}

	&:hover {
		box-shadow: var(--card-box-shadow);
		transform: var(--card-transform);
	}

	&:nth-child(4n + 1) {
		border-color: #1aa8a8;
	}

	&:nth-child(4n + 2) {
		border-color: #9e4ec4;
	}

	&:nth-child(4n + 3) {
		border-color: #2c80ce;
	}

	&:nth-child(4n + 4) {
		border-color: #83120c;
	}

	&.border-color-gray {
		border: 1px solid var(--card-border-color);
	}

	&__label {
		margin-bottom: 1.6rem;
		color: var(--card-label-color);
	}

	&__title-container {
		display: flex;
		align-items: center;
		gap: 2rem;
		&.column {
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
		}
		h5 {
			font-size: 24px;
			margin-top: 0;
		}
	}

	&__icon {
		width: 40px;
		height: 40px;
		color: currentColor;
	}

	&__content {
		margin-top: 16px;
		font-weight: 300;
		ul {
			margin-left: 20px;
		}
		* + ul {
			margin-top: 16px;
		}
		ul + * {
			margin-top: 16px;
		}
		b {
			color: #fff;
		}
	}

	&__link {
		margin-top: 1rem;
	}
}
