.card-community-activity {
	position: relative;
	display: block;
	text-decoration: none;
	border: 1px solid var(--card-border-color);
	border-radius: var(--card-border-radius);
	transition: all var(--default-transition-params);

	&:hover {
		box-shadow: var(--card-box-shadow);
		transform:var(--card-transform);
	}

	&__image-container {
		position: relative;
		height: 0;
		padding-top: 62.5%;
	}

	&__image {
		@include image-cover-entire-container;

		border-top-left-radius: var(--default-border-radius);
		border-top-right-radius: var(--default-border-radius);
	}

	&__content-container {
		padding: 3.2rem;
	}

	&__date {
		font-size: 1.4rem;
		line-height: 2rem;
		color: var(--color-gray-light);
	}

	&__content {
		margin-top: 1rem;
		color: var(--body-font-color);
	}
}
