.card-bg {
	padding: 16px;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 32px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	transition: all var(--default-transition-params);
	.button-link {
		color: #fff;
	}
	&:hover {
		transform: translateY(-12px);
		.button-link {
			color: #fff;
			&:after {
				background-color: #fff;
				border-radius: 50%;
				color: #000;
				transform: rotate(45deg);
			}
		}
	}
	&__content {
		flex: 1;
		margin-bottom: 20px;
		font-size: 16px;
		font-weight: 300;
		line-height: 26px;
		color: #fff;
		img {
			width: 60px;
			height: 80px;
		}
		a,
		p {
			color: #fff;
		}
	}
	&__title {
		font-size: 24px;
		font-weight: 700;
		line-height: 30px;
		margin: 24px 0 16px 0;
	}
	&-red {
		background-color: #87120c;
	}
	&-violet {
		background-color: #5d137d;
	}
	&-blue {
		background-color: #10487b;
	}
	&-green {
		background-color: #0f5353;
	}
}
